#image {
    display: flex;
    justify-content: center;
    position: relative;
  }
  #img-div {
    display: grid;
    justify-content: center;
  }
  h1 {
    display: flex;
    justify-content: center;
  }
  #img-caption {
    display: flex;
    justify-content: center;
    position: relative;
  }